<h4> Add To Monthly Direct Debits </h4>

<form action="/expenses/directdebit" method="POST">
    £<input name="text" type="text" placeholder="Amount">
    <input name="Text" type="text" placeholder="Purpose">
    <input name="Submit" type="submit">
</form>
Total Amount of Direct Debits: £{{total}}
<br>
List of Current Direct Debits:
<br>
{{let total = 0}}
{{#each expenses}}
<br>
{{this.month}}:
£{{this.amount}}
<br>
{{/each}}
{{!-- // Display total amount of debit --}}