<h3> 
  <h4> January </h4>
  <h4> Name of the Account Holder</h4>
  <form action="/expenses/january" method="POST"> 
    £ <input name="number" type="number" placeholder="Amount">
    <input name="Text" type="text" placeholder="Category">
    <input name="Submit" type="submit">
  </form>
  <form action="/month/january" method="get">
    <button type="submit" name="Go Back">Go Back</button>
  </form>
</h3>
