<h3> 
  <h4> September </h4>
  <h4> Name of the Account Holder</h4>
  <form action="/expenses/september" method="POST"> 
    £ <input name="Text" type="text" placeholder="Amount">
    <input name="Text" type="text" placeholder="Category">
    <input name="Submit" type="submit">
  </form>
    <form action="/month/september" method="get">
    <button type="submit" name="Go Back">Go Back</button>
  </form>
</h3>