<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
<title>Website</title>
</head>
<header>
<div class="topnav">
<ul>
  <a href="/">Home</a>
  <a href="/month/january">January</a>
  <a href="/month/february">February</a>
  <a href="/month/march">March</a>
  <a href="/month/april">April</a>
  <a href="/month/may">May</a>
  <a href="/month/june">June</a>
  <a href="/month/july">July</a>
  <a href="/month/august">August</a>
  <a href="/month/september">September</a>
  <a href="/month/october">October</a>
  <a href="/month/november">November</a>
  <a href="/month/december">December</a>
    <a href="/month/month">Month</a>
  <a href="/year/index">Yearly Reports</a>
  <a href="/expenses/directdebit">Direct Debits</a>
  <div class="pull-right">
  <form action='/sessions/delete' method='POST'>
    <input type="submit" value="Log out" >
  </form>
  </div>
</ul>
</div>
<br>
</header>
<body>
{{{body}}}
</body>
</html>