h1 {
  color: white;
}

h2, h3, h4 { 
  color: lightblue;
  font-family: "Courier New";
}

li {
  font-family: "Courier New";
}

body { 
  font-family:"Courier New";
  margin-top: 40px;
  padding: 20px;
}

header { 
  background-color: lightblue;
  margin: auto;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

input { 
  color: lightblue;
  font-family: "Courier New";
  padding: 5px 10px;
  background-color:lightblue ;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
}

button {
  background-color:lightblue ;
  font-family: "Courier New";
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer
}
/* Classes */
/* Cards */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.10s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 20px 5px;
}