{{!-- Log in Page --}}
<body>
<div class="navbar">

<h4>New User</h4>
<form action="/users/new" method="get">
<button>Go to Form</button>
</form>

<h4>Log In</h4>
<form action="/sessions/new" method="get">
<button>Go to Form</button>
</form>
</body>

