<h2>Want to add new items to the list?</h2>
<h4>Rate how important it is to complete out of 10.</h4>
<form action="/list/new" method="POST">
  <input name="input" type="text" placeholder="Type task here..." required />
  <input name="input" type="text" placeholder="/10" style="width: 40px" required />
  <input type="Submit">
</form>