<body>
<form action="/sessions" method="post">
  <h2> Log-in </h2> <br>
  <br>
  <div>
    <label for="email">Email: </label> <br>
    <input id="email" type="email" name="email" value=""> <br>
    <label for="password">Password: </label> <br>
    <input id="password" type="password" name="password" value=""> <br>
    <input id="submit" type="submit" value="Enter">
  </div>
 </form>
 
 <h4>Not registered? Create an Account<a href="/users/new" style="color:rgb(19, 168, 236);"> here</a>!</h4>
 </body>
