<body>
<h4>Availability</h4>
{{!-- 
<form action="/users/comment" method="post">
  <input type="text" placeholder="comment">
  <input type="submit" value="submit">
</form> --}}

<form action="/" method="get">
<button>Back</button>
</form>
</body>

<form action="/users/comment" method="post">
<input type="date"/>
<input type="submit" value="Submit">
</form>