<body>
<h4>New User</h4>

<form action="/users/new" method="POST">
<input type="text" placeholder="name" id="name" name="name" required><br>
<input type="text" placeholder="email" id="email" name="email" required><br>
<input type="text" placeholder="password" id="password" name="password" required><br>
<input type="text" placeholder="medical" id="medical" name=""medical >
<input type="text" placeholder="Add something to your wishlist" name="wishlist" id="wishlist">
<input type="text" placeholder="Favourite trainers?" id="trainers" name="trainers">
<button>Submit</button>
</form>
</body>