<body>
<h4>New User</h4>

<form action="/users/new" method="POST">
<input type="text" placeholder="name" id="name" name="name" required><br>
<input type="text" placeholder="email" id="email" name="email" required><br>
<input type="text" placeholder="password" id="password" name="password" required><br>
<button>Submit</button>
</form>
</body>